@media screen and (max-width: 1920px) {
  /*------------PROFILE CHOICES--------*/
  /*OUR TEAM VER 2*/
  #profile-choices {
    padding: 50px;
    background: white;
    background-size: cover;
    background-position: center;
    height: 1vh;
  }

  .profile-title {
    display: none;
  }

  .p-list {
    display: none;
  }

  .p-list div {
    padding: 15px;
    font-size: 1rem;
  }

  .p-list img {
    display: none;
  }

  .p-choices {
    height: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
  }

  .p-choices h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .pchoices:hover img {
    transform: scale(1.1);
    border-radius: 100px;
  }

  .pchoices:hover .layer-choices {
    height: 100%;
  }
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    margin-right: 2rem;
    display: flex;
    top: 50px;
  }
  .krac-logo {
    align-items: center;
    position: absolute;
    left: 70px;
    height: 70px;
    width: 90px;
  }
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .krac-logo {
    align-items: center;
    position: absolute;
    left: 70px;
    height: 60px;
    width: 60px;
  }
  .content {
    text-align: center;
  }
  .content h1 {
    font-size: 100px;
    color: white;
    font-weight: 600;
    transition: 0.5s;
  }

  .content h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
  }
  .content a {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 24px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin-top: 20px;
  }

  /*RECIPE CHOICES*/
  #recipe-choices {
    padding: 50px;
    background: linear-gradient(45deg, #e3ddd1, #e1d4ac);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .recipe-title {
    font-size: 4rem; /* Adjust the font size for smaller screens */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    margin-top: 20px; /* Reduce the margin for smaller screens */
  }

  .choices-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
    color: black;
    justify-items: center;
  }

  .choices-list div {
    padding: 15px;
    font-size: 1rem;
  }

  .choices-list img {
    width: 200px;
    border-radius: 100px;
    display: block;
    margin-top: 20px;
    transition: transform 0.5s;
  }

  .layer-choices {
    height: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
  }

  .layer-choices h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .choices:hover img {
    transform: scale(1.1);
    border-radius: 100px;
  }

  .choices:hover .layer-choices {
    height: 100%;
  }

  /*OUR TEAM VER 2*/
  #profile-choices {
    padding: 50px;
    background: linear-gradient(45deg, #ece9e6, #ffffff);
    background-size: cover;
    background-position: center;
    height: 100vh;
  }

  .profile-title {
    font-size: 4rem; /* Adjust the font size for smaller screens */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    margin-top: 20px; /* Reduce the margin for smaller screens */
  }

  .p-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 10px;
    margin-top: 10px;
    color: black;
    justify-items: center;
  }

  .p-list div {
    padding: 15px;
    font-size: 1rem;
  }

  .p-list img {
    width: 200px;
    border-radius: 100px;
    display: block;
    margin-top: 20px;
    transition: transform 0.5s;
  }

  .p-choices {
    height: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 1rem;
    transition: height 0.5s;
  }

  .p-choices h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .pchoices:hover img {
    transform: scale(1.1);
    border-radius: 100px;
  }

  .pchoices:hover .layer-choices {
    height: 100%;
  }
  /* RECIPE FLIP CARDS*/
  .pork {
    display: block;
    position: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .beef {
    display: block;
    position: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .dessert {
    display: block;
    position: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .chicken {
    display: block;
    position: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .recipe-card {
    width: 175px;
    height: 150px;
    margin: 5px;
  }
  .flip-card {
    width: 100%;
    height: 100%;
  }
  .flip-card-front {
    width: 175px;
    height: 150px;
  }
  .flip-card-inner {
    width: 175px;
    height: 150px;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  }
  .flip-card-back {
    transform: rotateY(180deg);
    font-size: 20px;
  }
  .r-title {
    font-size: 15px;
    margin-top: 8px;
  }
  .description {
    font-size: 8px;
    margin: 5%;
    margin-top: 10px;
  }
  .r-link {
    font-size: 8px;
    margin: 8px;
  }
  .text1 {
    font-size: 3rem;
    text-align: center;
  }
  .text2 {
    font-size: 3rem;
    text-align: center;
  }
  .text3 {
    font-size: 3rem;
    text-align: center;
  }
  .text4 {
    font-size: 3rem;
    text-align: center;
  }
  .chicken-logo p {
    font-size: 10px;
  }
  .pork-logo p {
    font-size: 10px;
  }
  .beef-logo p {
    font-size: 10px;
  }
  .dessert-logo p {
    font-size: 10px;
  }

  /*OUR TEAM*/
  #our-group {
    display: none;
  }
  .column {
    display: none;
  }

  .card {
    display: none;
  }
  .our-group {
    display: none;
  }

  .our-group .title {
    display: none;
  }

  .title2 {
    display: none;
  }
  .container {
    padding: 0px 6px;
  }
  .container::after,
  .row::after {
    display: none;
  }
  .button {
    display: none;
  }

  .button:hover {
    display: none;
  }

  /*CONTACT US*/
  .contact-info-upper-container {
    display: flex;
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  /*ABOUT US*/
  #aboutus {
    margin-bottom: 380px;
  }
  .abt-cont {
    padding: 50px;
    text-align: center;
    font-size: 13.5px;
  }
}
