@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }

  #hamburger-nav {
    margin-right: 2rem;
    display: flex;
  }
  .krac-logo {
    align-items: center;
    position: absolute;
    left: 70px;
    top: 50px;
    width: 200px;
    height: 70px;
  }
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .krac-logo {
    align-items: center;
    position: absolute;
    left: 70px;
    top: 56px;
    width: 180px;
    height: 60px;
  }
  /* RECIPE FLIP CARDS*/
  .recipe-card {
    width: 175px;
    height: 150px;
    margin: 5px;
  }
  .flip-card {
    width: 100%;
    height: 100%;
  }
  .flip-card-front {
    width: 175px;
    height: 150px;
  }
  .flip-card-inner {
    width: 175px;
    height: 150px;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
  }
  .flip-card-back {
    transform: rotateY(180deg);
    font-size: 20px;
  }
  /*ABOUT US*/
  .abt-cont {
    padding: 50px;
    text-align: center;
    font-size: 13.5px;
  }
}
